/CityInfoAPI/.vs
/CityInfoAPI/CityInfoAPI.Data/bin
/CityInfoAPI/CityInfoAPI.Data/obj
/CityInfoAPI/CityInfoAPI.Dtos/obj
/CityInfoAPI/CityInfoAPI.Web/bin
/CityInfoAPI/CityInfoAPI.Web/obj
/CityInfoAPI/CityInfoAPI.Dtos/bin
CityInfoAPI/CityInfoAPI.Web/CityInfoAPI.Web.csproj.user
CityInfoAPI/CityInfoAPI.Web/CityInfoAPI.Web.csproj.user
/CityInfoAPI/CityInfoAPI.Web/Logs
/CityInfoAPI/CityInfoAPI.Web/Uploads
/CityInfoAPI/CityInfoAPI.Service/bin/Debug/net8.0
/CityInfoAPI/CityInfoAPI.Service/obj
